body {
    background-color: #fff; /* Set background color to white */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    overflow: hidden; 

}


footer {
    background-color: #0033ff;
    color: #ecf0f1;
    text-align: center;
    font-style: italic;
    padding: 20px 10px; 
    font-size: 1.2rem; 
    font-family: 'Arial', sans-serif; 
    position: fixed; 
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    letter-spacing: 0.5px; 
}

.card-title {
    font-size: 1.25rem;
    color: black; 
    font-weight: bold;
}

.card {
    background-color: transparent; 
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 1s ease-in-out, background-color 0.3s ease-in-out;
    background-color: rgba(0, 131, 253, 0.1); 
}

.card-body {
    padding: 1rem;
}

.modal-content {
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

.modal-header {
    background-color: #fff;
    border-bottom: 1px solid #495057;
}

.modal-title {
    color: #000;
}

.modal-body {
    background-color: #fff;
    color: #000 ;
}

input.form-control:focus, select.form-select:focus {
    border-color: #40A4FF; 
    box-shadow: 0 0 5px #40A4FF;
}

button {
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button.btn-primary {
    background-color: #40A4FF; 
    color: #fff;
}

button.btn-primary:hover {
    background-color: #1E88E5;
    box-shadow: 0px 8px 16px rgba(64, 164, 255, 0.3);
}

button.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

button.btn-danger:hover {
    background-color: #c82333;
    box-shadow: 0px 8px 16px rgba(220, 53, 69, 0.3);
}

img {
    max-width: 200px;
    margin-right: 10px; /* Adjust the logo to move 10px to the right */
    border-radius: 10px;
}

.alert {
    border-radius: 8px;
    padding: 1rem;
}

.alert-dismissible .btn-close {
    background-color: transparent;
    color: #fff;
    opacity: 0.8;
}

select.form-select {
    border-radius: 8px;
}

#date-time-container {
    margin: 0 0 4rem 0;
}

.date {
    font-weight: bold;
    font-size: 4rem;
}

.clock {
    font-size: 3rem;
}

.receipt {
    height: 400px;
    max-height: 100%;
}

.LOGO-CYDO {
    max-width: 250px;
    position: absolute;
    left: 80px;
}

.TEXT-CYDO{
    font-size: 3.4rem; 
    z-index:1;
    padding-left: 10px;
}

/* Full header bar */
.header-bar {
    background-color: #409c6c; 
    height: 70px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: hidden;
}

/* Right Decoration */
.right-decor {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: skewy(-40deg); 
    background-color: inherit;
}

/* White slices */
.slice {
    background-color: white;
    height: 15px;

    width: 100%;
    margin-bottom: 5px;
}


@media (min-width: 320px) and (max-width: 479.98px) {
    .header-bar {
        display: none;
        width: 0;
        height: 0;
    }

    .TEXT-CYDO {
        display: none;
    }

    .LOGO-CYDO {
        width: 250px;
        height: 250px;
        position: relative;
        top: 50px;
        left: -0px;
        margin: 0 auto;
    }

    .date {
        font-size: 35px;
        position: relative;
        top: -10px;
    }

    .clock {
        font-size: 30px;
        position: relative;
        top: -5px;
    }

    .time-in-card, .time-out-card {
        position: relative;
        top: -20px;
        width: 50%;
        margin: 10px auto;
    }

    .time-out-card {
        bottom: 10px;
    }

    footer {
        height: 60px;
    }

    footer p {
        text-align: center;
        font-size: 14px;
        position: relative;
        bottom: 8px;
    }

}
@media (min-width: 480px) and (max-width: 767.98px) {
    .header-bar {
        display: none;
        width: 0;
        height: 0;
    }

    .TEXT-CYDO {
        display: none;
    }

    .LOGO-CYDO {
        width: 250px;
        height: 250px;
        position: relative;
        top: 70px;
        left: -0px;
        margin: 0 auto;
    }

    .date {
        font-size: 40px;
        position: relative;
        top: -10px;
    }

    .clock {
        font-size: 30px;
        position: relative;
        top: -5px;
    }

    .time-in-card, .time-out-card {
        position: relative;
        top: -20px;
        width: 50%;
        margin: 10px auto;
    }

    .time-out-card {
        bottom: 10px;
    }

    footer {
        height: 60px;
    }

    footer p {
        text-align: center;
        font-size: 14px;
        position: relative;
        bottom: -2px;
    }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
    .header-container{
        position: relative;
        top: -160px;
    }
    .TEXT-CYDO {

        position: absolute;
        color: white !important;
        font-size: 22.5px;
    }
    .slice{
        opacity: .80;

    }

    .LOGO-CYDO {
        width: 150px;
        height: 150px;
        position: relative;
        top: 5  px;
        left: -0px;
        margin: 0 auto;
    }

    .date {
        font-size: 50px;
        position: relative;
        top: -10px;
    }

    .clock {
        font-size: 40px;
        position: relative;
        top: -5px;
    }



    footer {
        height: 60px;
    }

    footer p {
        text-align: center;
        font-size: 14px;
        position: relative;
        bottom: -2px;
    }

}
@media (min-width: 1200px) {
    .TEXT-CYDO{
        position: absolute;
        font-size: 41px;
    }

    footer{
        height: 60px;
    }

    footer p{
        text-align: center;
        position: relative;
        bottom: 2px;
    }
}